.restaurant-card {
    box-shadow: 0 10px 20px #fff;
    margin-top: 40px;
    padding: 40px;
    transition: all ease 0.3s;
}

.restaurant-card:hover {
    box-shadow: 0 10px 20px #fff, 0 10px 40px #fff;
}

.restaurant-image {
    box-shadow: 0 2px 10px #fff;
}
