.page-title {
    color: #fff;
    font-size: 40px;
    text-shadow: 0 1px 1px #000;
    font-family: 'SpongebobRegular', Arial;
}

.page-container {
    height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 2s ease, opacity 2s, background-color 2s;
}
