.navigation {
    height: 80px;
    position: relative;
    background-color: #03e5b7;
    box-shadow: 0 0 10px #000;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.navigation-item {
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'SpongebobRegular', Arial;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: box-shadow .2s ease-in-out;
    outline: none;
    text-decoration: none;
    text-shadow: 0 1px 1px #000
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-item:hover {
    box-shadow: 0 10px 20px #03e5b7, 0 0 50px #037ade;
}
