.home-container {
    background-image: url("../../images/sponge-bob2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.home-container-title {
    color: #fff;
    font-size: 40px;
    text-shadow: 0 1px 1px #000;
    font-family: 'SpongebobRegular', Arial;
}
