.entertainment-container {
    box-sizing: border-box;
    padding-top: 40px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

.restaurant-inner {
    width: 1080px;
    margin: 0 auto;
}

.entertainment-cards-list {
    margin-top: 20px;
}
