.restaurants-container {
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

.restaurants-inner {
    width: 1080px;
    margin: 0 auto;
}

.restaurants-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
